.FilterByGenre {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* justify-content: flex-end; */
  transform: skewY(-3deg);
  margin: 0.2em auto;
  border-bottom: solid 2px white;
}

.pGenre {
  margin: 0;
}

.GenreList {
  margin: 10px;
}
.btn {
  margin: 0.2em;
  padding: 0 auto;
}

.status-active {
  background-color: #40e0d0;
}

.status-inactive {
  background-color: #808080;
}

/* .status-inactive:hover {
  background: #40e0d0;
}

.status-active:hover {
  background-color: #808080;
} */
