.FilterByGenre {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* justify-content: flex-end; */
  transform: skewY(-3deg);
  margin: 0.2em auto;
  border-bottom: solid 2px white;
}

.pGenre {
  margin: 0;
}

h2 {
  background-color: rgb(255, 238, 0);
  color: #111;
  font-family: 'Mouse Memoirs', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  height: 3.5em;
  font-size: 100%;
  padding-left: 1em;
  margin-bottom: 0.1em;
  padding-top: 1.5em;
}

.GenreList {
  height: 250px;
  background-color: rgb(255, 238, 0);
}
