.FilterByGenre {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* justify-content: flex-end; */
  transform: skewY(-3deg);
  margin: 0.2em auto;
  border-bottom: solid 2px white;
}

.pGenre {
  margin: 0;
}

.GenreList {
  /* margin: 10px; */
  height: 175px;
  background-color: rgb(255, 238, 0);
}
