@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mouse+Memoirs&display=swap');

.MySelectionOfMoviesList h2 {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 2em;
}

.MySelectionOfMovie {
  width: 100%;
  background-color: rgb(255, 238, 0);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 1em;
  margin-bottom: 0;
}

.MySelectionOfMoviesList .MySelectionOfMovie {
  width: 100%;
  max-width: 100%;
  margin: 0.5em 0.5em 8em 0.5em;
  padding: 0.3em 0;
  font-size: 0.8em;
  position: relative;
}

.MySelectionOfMoviesList .MySelectionOfMovie .btn {
  width: 100%;
  background-color: rgb(0, 103, 129);
  color: #fff;
  border: none;
  font-family: 'Mouse Memoirs', sans-serif;
  margin-top: 1em;
  font-size: 2em;
  padding: 0.3em;
  -webkit-box-shadow: 0px 25px 20px 3px rgba(87, 37, 37, 0.3);
  -moz-box-shadow: 0px 25px 20px 3px rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=25, Color='rgba(0, 0, 0, 0.300)', Positive='true');
  cursor: pointer;
}

.MySelectionOfMoviesList .MySelectionOfMovie .btn:hover {
  background-color: #0472a5;
}

.cover {
  width: 20%;
  align-self: center;
}
.filmtitle {
  align-self: center;
}
