/* css de base */

body {
  margin: 0;
}
/** barre de recherche **/

.research {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchbar {
  display: flex;
  margin-bottom: 1%;
  justify-content: center;
  background-image: url(https://db3pap006files.storage.live.com/y4mAPnlYTclEYc8cRdVUEz-DBayClIbHXP_1iccs1cHYe4s8VrQJZHiexyVojSK4Zm6t7Aso4_MklMSxH8hdH5nR6ObpLtnsYZ5hs8dL7oLSv0K_7In0tV3ABoHnM1_JYFxq2Xf4M3jzUrRQj6a86_LksBpxRoqI7MyZORtE9Q7BvW13HKN04VEey8TjDhe-5A6?width=640&height=426&cropmode=none);
  background-size: cover;
  height: 5em;
  align-items: center;
  margin-bottom: 2%;
}
.bar {
  width: 35%;
  border-radius: 10px;
  height: 2em;
}
/**selection de film**/

.resultat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.cover {
  width: 60%;
  align-self: center;
}
.filmtitle {
  align-self: center;
}

/** sugestions de résultats*/

.view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  position: absolute;
  height: 100%;
  overflow-y: scroll;
  background-color: #fff;
}
.hide {
  display: none;
}
.resultat {
  width: 30%;
  margin-bottom: 3%;
}
.titre {
  font-size: 70%;
  margin: 0;
  text-overflow: ellipsis;
}
.mini {
  width: 100%;
  border-radius: 8px;
}

.bouton {
  z-index: 10;
  border: none;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  height: 16em;
}
.icon {
  width: 80%;
}

.ratiing {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.rating span {
  margin: 0;
  width: 15px;
}

/* séléction */
.note {
  font-size: 60%;
  margin: 0;
}

.theOne {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  height: 100%;
  overflow-y: scroll;
}
.filmview {
  width: 45%;
  height: 5%;
  background-color: white;
  background-size: cover;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: none;
  margin: 2%;
}
.cover {
  width: 90%;
}

.filmtitle {
  margin: 0;
  color: black;
  font-size: 90%;
}

.vote {
  margin: 0;
  align-self: center;

  font-size: 60%;
}

/* css film details */

.invisible {
  display: none;
}

.visible {
  text-align: center;
  background-color: black;
  color: white;
  width: 30%;
  margin: auto;
  border-radius: 8px;
}

.delete {
  width: 13%;
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 1em;
  color: black;
  align-self: flex-start;
  justify-self: end;
}

.more {
  background-color: transparent;
  border: none;
}

.moreinfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.leTitre {
  color: black;
  width: 80%;
  text-align: center;
}

.affiche {
  width: 60%;
}
.resume {
  width: 100%;
  text-align: justify;
}

@media (min-width: 768px) {
  .view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .resultat {
    width: 18%;
  }
  .bouton {
    width: 100%;
  }
  .mini {
    width: 80%;
  }
  .filmview {
    width: 20%;
  }
}

/* more infos  */
