/* css de base */

body {
  margin: 0;
}
/** barre de recherche **/

.btnchoice {
  width: 90%;
  margin: 0em 1em 8em 1em;
  position: relative;
  height: 3em;
  background-color: rgb(0, 103, 129);
  color: #fff;
  border: none;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 1em;
  padding: 0.3em;
  -webkit-box-shadow: 0px 25px 20px 3px rgba(87, 37, 37, 0.3);
  -moz-box-shadow: 0px 25px 20px 3px rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=25, Color='rgba(0, 0, 0, 0.300)', Positive='true');
  cursor: pointer;
  top: 9vh;
}

.research {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: -4em;
  height: 110%;
  font-size: 2.5em;
  transform: skewY(-3deg);
  position: relative;
  top: -2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  background-color: rgb(255, 238, 0);
}

.searchbar {
  display: flex;

  justify-content: center;
  background-color: rgb(255, 238, 0);
  background-size: cover;
  height: 4em;
  align-items: center;
  -webkit-box-shadow: 0px -25px 20px 3px rgba(87, 37, 37, 0.3);
  -moz-box-shadow: 0px -25px 20px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -25px 20px 3px rgba(0, 0, 0, 0.3);
}
.bar {
  width: 35%;
  border-radius: 10px;
  position: relative;
  height: 2em;
  top: 2em;
}

.resultat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.hide {
  display: none;
}

/** sugestions de résultats*/
.resultat {
  width: 45%;
  margin-bottom: 5vh;
  position: relative;
}
.resultat h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  margin: 0.2em 0;
}

.titre {
  font-size: 70%;
  margin: 0;
  text-overflow: ellipsis;
}
.mini {
  width: 100%;
}

.bouton {
  z-index: 10;
  border: none;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  height: 100%;
  background: none;
  border: none;
}
.icon {
  width: auto;
  height: 1.5em;
}

.rating {
  width: 100%;
}
.rating span {
  margin: 0;
  width: auto;
}
.view {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  position: absolute;
  height: auto;
  overflow-y: scroll;
  background-color: rgb(255, 238, 0);
  z-index: 500;
  padding-bottom: 10vh;
}

/* séléction */

.selection {
  overflow-y: scroll;
  position: relative;
  height: 150vh;
  padding-bottom: 7vh;
}
.note {
  font-size: 60%;
  margin: 0;
}

.theOne {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 90%;
  position: relative;
  margin-bottom: 10em;
  background-color: rgb(255, 238, 0);
}
.filmview {
  height: 100%;
  background-color: rgb(255, 238, 0);
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  margin: 2%;
  margin-bottom: 0;
  position: relative;
  margin-top: 0;
}
.cover {
  width: 90%;
}

.filmtitle {
  margin: 0;
  color: black;
  font-size: 2em;
  margin: 0.8em;
  right: 10%;
}
.more {
  height: 15vh;
}

.vote {
  margin: 0;
  align-self: center;
  font-size: 60%;
  margin-bottom: 0%;
}

.research .evaluation {
  width: 100%;
}

.research .delete {
  width: 10%;
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 1em;
  color: black;
  align-self: flex-start;
  position: relative;
  right: 2em;
  text-align: right;
}
.research .delete:hover {
  cursor: pointer;
  color: #444;
}

/* css film details */

.details {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.moreinfo .evaluation {
  padding-left: 1em;
  display: flex !important;
  flex-wrap: nowrap;
  font-size: 0.3em;
}
.moreinfo .evaluation img {
  position: relative;
  width: auto;
}
.moreinfo .evaluation > span > span {
  position: relative;
}
.moreinfo .evaluation > span {
  position: relative;
  top: 10px;
}
.moreinfo .btnFilmsPourEnfants:hover {
  cursor: pointer;
  background-color: #0472a5;
}

.moreinfo {
  font-size: 2.5em;
  transform: skewY(-3deg);
  position: relative;
  top: -4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 180%;
  overflow: hidden;
}

.moreinfo h3 {
  background-color: rgb(255, 238, 0);
  color: #111;
  font-family: 'Mouse Memoirs', sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  font-size: 1.5em;
  padding-left: 0.4em;
  padding-top: 2em;
  margin-bottom: 0.1em;
  padding-bottom: 0.5em;
}

.moreinfo h3 .titre {
  text-align: left;
  padding-right: 4%;
}

.moreinfo h4 {
  font-family: 'Mouse Memoirs', sans-serif;
  margin: 7% 7% 0 7%;
}
.moreinfo .logo {
  margin-left: 7%;
}

.moreinfo article {
  width: 100%;
  height: 200%;
  background-color: rgb(255, 238, 0);
  padding: 0 0 150px 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.moreinfo .resume {
  font-family: 'Monserrat', sans-serif;
  font-size: 0.5em;
  text-align: justify;
  width: 86%;
  max-width: 800px;
  padding: 7%;
}
.moreinfo .affiche {
  max-width: 700px;
  width: auto;
  height: 70vh;
  transform: skewY(3deg);
  padding-bottom: 50vh;
}

.moreinfo > article > div > a > button {
  width: 100%;
  background-color: rgb(0, 103, 129);
  color: #fff;
  border: none;
  font-family: 'Mouse Memoirs', sans-serif;
  margin-top: 0.5em;
  font-size: 1em;
  padding: 0.3em;
}

@media only screen and (min-width: 768px) {
  .moreinfo > article > div {
    padding-bottom: 70vh;
  }
  .moreinfo h3 {
    padding-left: 1em;
    padding-bottom: 0;
  }
  .moreinfo .resume {
    padding: 1%;
  }
}

/* end film details*/

.invisible {
  display: none;
}

.visible {
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0%;
  font-size: 1em;
  font-family: 'Mouse Memoirs', sans-serif;
  text-align: center;
}

.more {
  background-color: transparent;
  border: none;
}

.affiche {
  width: 60%;
}

@media (min-width: 768px) {
  .view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60vh;
  }

  .btnchoice {
    font-size: 1.5em;
    top: 2px;
  }
  .theOne {
    padding-bottom: 60vh;
  }
  .resultat {
    width: 18%;
  }
  .bouton {
    width: 100%;
  }
  .mini {
    width: 80%;
  }
  .filmview {
  }
  .theOne {
    height: 110%;
  }
}

/* more infos  */
