body {
  margin: 0;
}
/** barre de recherche **/

.research {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchbar {
  display: flex;
  margin-bottom: 1%;
  justify-content: center;
  background-image: url(https://db3pap006files.storage.live.com/y4mAPnlYTclEYc8cRdVUEz-DBayClIbHXP_1iccs1cHYe4s8VrQJZHiexyVojSK4Zm6t7Aso4_MklMSxH8hdH5nR6ObpLtnsYZ5hs8dL7oLSv0K_7In0tV3ABoHnM1_JYFxq2Xf4M3jzUrRQj6a86_LksBpxRoqI7MyZORtE9Q7BvW13HKN04VEey8TjDhe-5A6?width=640&height=426&cropmode=none);
  background-size: cover;
  height: 5em;
  align-items: center;
  margin-bottom: 2%;
}
.bar {
  width: 35%;
  border-radius: 10px;
  height: 2em;
}
/**selection de film**/
.resultat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.filmview {
  border-style: double;
  border-color: black;
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: burlywood;
}

.cover {
  width: 60%;
  align-self: center;
}
.filmtitle {
  align-self: center;
}

/** sugestions de résultats*/

.view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}
.hide {
  display: none;
}
.resultat {
  width: 30%;
  height: 10%;
  margin: 1%;
  margin-bottom: 0;
}
.titre {
  font-size: 70%;
  margin: 0;
  text-overflow: ellipsis;
}
.mini {
  width: 100%;
  border-radius: 8px;
}

.bouton {
  background-image: url(https://db3pap006files.storage.live.com/y4mAPnlYTclEYc8cRdVUEz-DBayClIbHXP_1iccs1cHYe4s8VrQJZHiexyVojSK4Zm6t7Aso4_MklMSxH8hdH5nR6ObpLtnsYZ5hs8dL7oLSv0K_7In0tV3ABoHnM1_JYFxq2Xf4M3jzUrRQj6a86_LksBpxRoqI7MyZORtE9Q7BvW13HKN04VEey8TjDhe-5A6?width=640&height=426&cropmode=none);
  background-size: cover;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  height: 16em;
}
.note {
  font-size: 60%;
  margin: 0;
}

/* séléction */
.theOne {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}
.filmview {
  width: 45%;
  height: 5%;
  background-image: url(https://db3pap006files.storage.live.com/y4mAPnlYTclEYc8cRdVUEz-DBayClIbHXP_1iccs1cHYe4s8VrQJZHiexyVojSK4Zm6t7Aso4_MklMSxH8hdH5nR6ObpLtnsYZ5hs8dL7oLSv0K_7In0tV3ABoHnM1_JYFxq2Xf4M3jzUrRQj6a86_LksBpxRoqI7MyZORtE9Q7BvW13HKN04VEey8TjDhe-5A6?width=640&height=426&cropmode=none);
  background-size: cover;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: none;
  margin: 2%;
}
.cover {
  width: 90%;
}

.filmtitle {
  margin: 0;
  color: white;
  font-size: 90%;
}

.vote {
  margin: 0;
  align-self: center;
  color: white;
  font-size: 60%;
}

@media (min-width: 768px) {
  .bouton {
    height: 36em;
  }
}
