@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mouse+Memoirs&display=swap');

.FilterByDuration {
  font-size: 2.5em;
  transform: skewY(-3deg);
  position: relative;
  top: -2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow-y: scroll;
}

.FilterByDuration h2 {
  background-color: rgb(255, 238, 0);
  color: #111;
  font-family: 'Mouse Memoirs', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  height: 3.5em;
  font-size: 100%;
  padding-left: 1em;
  margin-bottom: 0.1em;
  padding-top: 1.5em;
}

.FilterByDuration .areaOfForm {
  width: 100%;
  height: 300%;
  background-color: rgb(255, 238, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 1em;
  padding-bottom: 3em;
}

.FilterByDuration .areaOfForm .form-group label {
  width: 100%;
  margin: 1em 0 0 0;
  font-size: 1em;
  text-align: center;
  font-family: 'Mouse Memoirs', sans-serif;
}
.FilterByDuration .areaOfForm .form-group label span {
  color: #000;
}
.FilterByDuration input {
  font-size: 2em;
  text-align: center;
  width: 80%;
  margin: 0 10%;
}

.FilterByDuration .form-group {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  text-align: center;
}

#startTime,
#endTime {
  font-family: 'Mouse Memoirs', sans-serif;
  color: rgb(0, 103, 129);
}
.FilterByDuration .btn {
  width: 100%;
  background-color: rgb(0, 103, 129);
  color: #fff;
  border: none;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 1em;
  padding: 0.3em;
  -webkit-box-shadow: 0px 25px 20px 3px rgba(87, 37, 37, 0.3);
  -moz-box-shadow: 0px 25px 20px 3px rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=25, Color='rgba(0, 0, 0, 0.300)', Positive='true');
  cursor: pointer;
}

.FilterByDuration .btn:hover {
  background-color: #0472a5;
}

@media only screen and (min-width: 60em) {
  .FilterByDuration h2 {
    height: 4em;
  }
}

@media only screen and (min-width: 80em) {
  .FilterByDuration {
    top: -4em;
    height: 110%;
  }
  .FilterByDuration h2 {
    padding-top: 100px;
    font-size: 1.6em;
  }
}
